.sticky-column-container {
    margin-left: 25%;
    margin-top: 15%;
    height: 100%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 15%;
    display: flex;
	align-items: flex-end;
}