* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #116466;
}

.sticky-column {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

body {
    background-color: #116466;
}