<link rel="stylesheet" href="../../../node_modules/lineicons/web-font/lineicons.css" />
<div class="content-column-container" style="font-size: 80px;">
    <section id="about">
        <div class="content-about">
            <p class="content-title">About</p>
        </div>
        <div class="content-introduction">
            <p class="introduction-body">I completed my Bachelor's degree in Library and Information Science with specialization in information technology from University of the Philippines - Diliman Campus. Additionally, I successfully passed the board exam for licensed information professionals in September 2021.</p>
            <p class="introduction-body">Following the conclusion of the coding bootcamp organized by Pointwest Innovations Corporation in November 2021, I officially became a software engineer.</p>
            <p class="introduction-body">I am a passionate Full-Stack Software Engineer specializing in TypeScript, Node.JS, Angular.JS, and React.JS. My career showcases proven proficiency in creating robust and scalable web applications.</p>
            <p class="introduction-body">What brings me excitement is participating in challenging projects and contributing to the success of dynamic teams through delivering high-quality code and innovative solutions.</p>
            <p class="introduction-body">I possess adaptability across a range of tech stacks and have proven my strong research skills as an information professional.</p>
            <p class="introduction-body">Let's connect and explore opportunities to create impactful software together :)</p>
        </div>
    </section>
    <section id="experience">
        <div class="content-experience">
            <p class="content-title">Experience</p>
        </div>
        <div class="card-container" *ngFor="let experience of experiences">
          <mat-card class="content-card mat-elevation-z0">
            <mat-card-header>
              <mat-card-title class="card-title content-card-title-link">
                <a href="{{ experience.url }}" target="_blank">{{ experience.company }} <i class="lni lni-arrow-top-right"></i></a>
              </mat-card-title>
              <mat-card-subtitle class="card-subtitle">{{ experience.position }}</mat-card-subtitle>
              <mat-card-subtitle class="card-date">{{ experience.date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="card-content-summary">
                {{ experience.summary }} <br>
                <button (click)="toggleList(experience)">
                  {{ cardStates[experience.id] ? 'Less Details' : 'More Details' }}
                </button>
              </div>
              <ul class="bullet-container" [@listAnimation]="getListState(experience)">
                <li class="bullet-content" *ngFor="let details of experience.details">{{ details }}</li>
              </ul>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
              <ul class="tech-stack-container">
                <li class="tech-stack" *ngFor="let techstack of experience.techstacks">{{ techstack }}</li>
              </ul>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="resume-container">
            <a href="../../assets/jncontrerasdev.pdf" target="_blank"><p class="resume-body">View my full resumé here <i class="lni lni-arrow-top-right"></i></p></a>
        </div>
    </section>
    <section id="contact">
      <div class="content-contact">
          <p class="content-title">Contact</p>
          <p class="contact-body">E-mail Address: jncontreras.dev@gmail.com</p>
          <p class="contact-body">Mobile Number: +63 917 503 6300</p>
      </div>
      <div class = "copyright-footer-mobile">
        <p class = "copyright-footer-content">
          <span><svg class="copyright-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z"/></svg> 2024, Jon Nigel Contreras. All rights reserved.</span>
        </p>
      </div>
    </section>
</div>
