a {
    color: inherit;
}

button {
    color: #1E2D40;
    background-color: #FFBA7A;
    border-radius: 1rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    cursor: pointer;
    transition: font-size 0.4s;
    padding: 0.4rem;
    position: initial;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

button:hover {
    font-size: 0.9rem;
    transition: font-size 0.4s;
}

.content-about {
    margin-bottom: 2rem;
}

.content-column-container {
    /* background-color: #116466; */
    margin-top: 6rem;
    scroll-behavior: smooth;
}

.content-column-container.ng-tns-c44-0 {
    font-size: 0 !important;
}

.introduction-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D1E8E2;
    font-size: 1rem;
    line-height: 1.2;
    max-width: 100%;
}

.content-card-title-link {
    transition: font-size 0.4s;
}

.content-card-title-link:hover {
    color:#D1E8E2;
    font-size: 2rem;
    display: block;
    transition: font-size 0.4s, color 0.4s ease-in-out;
    text-decoration: none;
}

.introduction-body:last-child {
    margin-bottom: 3rem;
}

.content-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    max-width: 36rem;
    font-weight: bold;
    color: #1E2D40;
    margin-bottom: 1rem;
}

.contact-body {
    color: #1E2D40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.content-card {
    background: linear-gradient(to top left, #116466, #1d7a7c);
    max-width: 100%;
    max-height: fit-content;
    background-size: 100% 400%;
    background-position: 100% 0%;
    transition: 1s;
}

.content-card:hover {
    background: linear-gradient(to bottom right, #116466, #3a9ca0);
    background-position: 100% 100%;
}

.content-card:not(:first-child) {
    margin-top: 2rem;
}

.content-card:last-child {
    margin-bottom: 4rem;
}

.card-content-summary {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    color: #D1E8E2;
}

.bullet-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D1E8E2;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.bullet-container {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #FFBA7A;
    font-size: 1.5rem;
}

.card-subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffba7aab;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.card-date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.tech-stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.tech-stack {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1E2D40;
    font-size: 0.8rem;
    list-style-type: none;
    padding: 0.3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
}

.tech-stack:not(:last-child) {
    margin-right: 0.3rem;
}

.resume-container {
    margin-top: 2rem;
}

.resume-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-decoration-line: underline;
    color: #FFBA7A; 
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .tech-stack-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tech-stack {
        margin-top: 0.1rem;
    }

    p.introduction-body {
        font-size: 0.7rem;
    }

    p.introduction-body:last-child {
        margin-bottom: 1rem;
    }

    p.content-title {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    li.bullet-content {
        font-size: 0.7rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-subtitle {
        font-size: 0.9rem;
    }

    .card-date {
        font-size: 0.7rem;
    }

    .content-card:not(:first-child) {
        margin-top: 1rem;
    }
}

/* start of mobile view */
@media only screen and (max-width: 693px) {

}
