<link rel="stylesheet" href="../../../node_modules/lineicons/web-font/lineicons.css" />
<div class="content-column-container" style="font-size: 80px;">
    <section id="about">
        <div class="content-about">
            <p class="content-title">About</p>
        </div>
        <div class="content-introduction">
            <p class="introduction-body">I completed my Bachelor's degree in Library and Information Science with specialization in information technology from University of the Philippines - Diliman Campus. Additionally, I successfully passed the board exam for licensed information professionals in September 2021.</p>
            <p class="introduction-body">Following the conclusion of the coding bootcamp organized by Pointwest Innovations Corporation in November 2021, I officially became a software engineer.</p>
            <p class="introduction-body">I am a passionate Full-Stack Software Engineer specializing in TypeScript, Node.JS, Angular.JS, and React.JS. My career showcases proven proficiency in creating robust and scalable web applications.</p>
            <p class="introduction-body">What brings me excitement is participating in challenging projects and contributing to the success of dynamic teams through delivering high-quality code and innovative solutions.</p>
            <p class="introduction-body">I possess adaptability across a range of tech stacks and have proven my strong research skills as an information professional.</p>
            <p class="introduction-body">Let's connect and explore opportunities to create impactful software together :)</p>
        </div>
    </section>
    <section id="experience">
        <div class="content-experience">
            <p class="content-title">Experience</p>
        </div>
        <mat-card class="content-card mat-elevation-z0">
            <a href="https://corporate.comcast.com/" target="_blank">
            <mat-card-header>
            <mat-card-title class="card-title">Comcast <i class="lni lni-arrow-top-right"></i></mat-card-title>
            <mat-card-subtitle class="card-subtitle">Offshore Software Engineer</mat-card-subtitle>
            <mat-card-subtitle class="card-date">March 2023 - Present</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <ul class="bullet-container">
                <li class="bullet-content">Responsible for developing both frontend and backend components through implementing the required features and functionality to meet a specific user story acceptance criteria.</li>
                <li class="bullet-content">Involved in creating responsive user interfaces, implementing dynamic and interactive components, handling form submissions, and managing states using the RxJS library.</li>
                <li class="bullet-content">Involved in writing server-side code to handle HTTP requests, build APIs, interact with databases, and implement business logic using express.js framework.</li>
                <li class="bullet-content">Handling database interaction using MongoDB, writing queries, managing data models, and ensuring proper data storage and retrieval.</li>
                <li class="bullet-content">Writing unit tests, conducting integration tests, and debugging issues that arise during the development process.</li>
                <li class="bullet-content">Collaborating with designers, other developers, and stakeholders and also utilizing version control systems like Git to manage code repositories, facilitate collaboration, and ensure smooth code integration.</li>
                <li class="bullet-content">Learning new frameworks, libraries, and best practices to continuously improve as a developer and deliver high-quality solutions.</li>
            </ul>
            <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
            <ul class="tech-stack-container">
                <li class="tech-stack">Angular</li>
                <li class="tech-stack">Tailwind</li>
                <li class="tech-stack">Leaflet.js</li>
                <li class="tech-stack">Node.js</li>
                <li class="tech-stack">RxJS</li>
                <li class="tech-stack">Express.js</li>
                <li class="tech-stack">MongoDB</li>
            </ul>
            </mat-card-footer>
            </a>
        </mat-card>
        <mat-card class="content-card mat-elevation-z0">
            <a href="https://www.vituity.com/" target="_blank">
            <mat-card-header>
            <mat-card-title class="card-title">Vituity <i class="lni lni-arrow-top-right"></i></mat-card-title>
            <mat-card-subtitle class="card-subtitle">Umbraco Developer</mat-card-subtitle>
            <mat-card-subtitle class="card-date">May 2022 - September 2022</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <ul class="bullet-container">
                <li class="bullet-content">Developed and maintained websites using the Umbraco content management system (CMS) for Vituity.</li>
                <li class="bullet-content">Created templates, defined content structures, and implemented the desired functionalities using a combination of HTML, CSS, JavaScript, and .NET technologies.</li>
                <li class="bullet-content">Configured the CMS according to specific project requirements. It involved creating custom data types, document types, and macros, as well as extending the functionality of the CMS through custom code.</li>
                <li class="bullet-content">Ensured that the website is optimized for different devices and browsers, and enhanced user experience through animations, dynamic content loading, and other interactive features.</li>
                <li class="bullet-content">Maintained and updated the Vituity website through bug fixing, performance optimization, and ensuring that the website remains secure and up to date with the latest Umbraco patches and upgrades.</li>
                <li class="bullet-content">Collaborated with designers, project managers, and other developers through participation in meetings, communicating project progress, and providing technical guidance to ensure the successful delivery of the requirements.</li>
            </ul>
            <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
            <ul class="tech-stack-container">
                <li class="tech-stack">Umbraco</li>
                <li class="tech-stack">Bootstrap</li>
                <li class="tech-stack">.NET</li>
                <li class="tech-stack">ASP.NET</li>
                <li class="tech-stack">HTML5</li>
            </ul>
            </mat-card-footer>
            </a>
        </mat-card>
        <mat-card class="content-card mat-elevation-z0">
            <a href="https://excelliscorp.com/" target="_blank">
            <mat-card-header>
            <mat-card-title class="card-title">Excellis Interactive <i class="lni lni-arrow-top-right"></i></mat-card-title>
            <mat-card-subtitle class="card-subtitle">Offshore Software Engineer and Knowledge Sharing Lecturer/Facilitator</mat-card-subtitle>
            <mat-card-subtitle class="card-date">February 2022 - Present</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <ul class="bullet-container">
                <li class="bullet-content">Demonstrated how Umbraco works for the developers who were new to Vituity.</li>
                <li class="bullet-content">Presented a beginner course on Ionic through the demonstration of how the latest Ionic 6 components and features work.</li>
                <li class="bullet-content">Served as a guide or coordinator, helping to facilitate the learning and development process of the new developers to be ready for Excellis’ Node.js related projects.</li>
                <li class="bullet-content">Assisted the new developers in understanding and learning Node.js concepts, tools, and techniques through group discussions and training sessions to foster a collaborative learning environment.</li>
                <li class="bullet-content">Helped the new developers access relevant learning resources such as documentation, tutorials, and online courses related to Node.js. Also responsible for curating a collection of useful materials for self-study or reference.</li>
                <li class="bullet-content">Supported the new developers by addressing their queries, clarifying doubts, and providing guidance on Node.js-related challenges. May also encourage them to engage in problem-solving activities to further establish a collaborative group for knowledge sharing.</li>
                <li class="bullet-content">Designed and organized practical exercises or projects to reinforce learning and also provide guidance and feedback to the new developers as they work on real-world scenarios or build Node.js applications.</li>
                <li class="bullet-content">Review the new developers' code, provide constructive feedback, and suggest improvements in coding style, best practices, performance optimization, and security considerations specific to Node.js development.</li>
                <li class="bullet-content">Kept up with the latest trends, updates, and advancements in the Node.js ecosystem. As a facilitator, it is important to be consistently informed about new frameworks, tools, libraries, and best practices, ensuring that up-to-date and relevant information is provided to the new developers.</li>
                <li class="bullet-content">Continually evaluated and improved teaching methods, content delivery, and engagement strategies based on the new developers’ feedback and evolving needs. And most importantly, to create an effective learning experience.</li>
            </ul>
            <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
            <ul class="tech-stack-container">
                <li class="tech-stack">TypeScript</li>
                <li class="tech-stack">Node.js</li>
                <li class="tech-stack">Ionic</li>
                <li class="tech-stack">Umbraco</li>
            </ul>
            </mat-card-footer>
            </a>
        </mat-card>
        <mat-card class="content-card mat-elevation-z0">
            <a href="https://www.cipla.com/" target="_blank">
            <mat-card-header>
            <mat-card-title class="card-title">Cipla <i class="lni lni-arrow-top-right"></i></mat-card-title>
            <mat-card-subtitle class="card-subtitle">Offshore Software Engineer</mat-card-subtitle>
            <mat-card-subtitle class="card-date">February 2022 - May 2022</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <ul class="bullet-container">
                <li class="bullet-content">Created RESTful APIs or serverless APIs using Azure Functions to handle specific functionalities.</li>
                <li class="bullet-content">Implemented server-side logic and business logic using Node.js for building scalable and high-performance backend services.</li>
                <li class="bullet-content">Built user interfaces and interactive web applications using Angular.</li>
                <li class="bullet-content">Ensured that the application is responsive and works well on different devices and screen sizes.</li>
                <li class="bullet-content">Wrote unit tests, integration tests, and end-to-end tests to ensure the reliability of the application.</li>
                <li class="bullet-content">Identified and resolved issues, bugs, and performance bottlenecks in both the frontend and backend components.</li>
                <li class="bullet-content">Worked closely with cross-functional teams, including product managers, designers, and other developers, to deliver high-quality software.</li>
            </ul>
            <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
            <ul class="tech-stack-container">
                <li class="tech-stack">Node.js</li>
                <li class="tech-stack">Express.js</li>
                <li class="tech-stack">Azure</li>
                <li class="tech-stack">Angular</li>
            </ul>
            </mat-card-footer>
            </a>
        </mat-card>
        <mat-card class="content-card mat-elevation-z0">
            <a href="https://pointwest.com.ph/" target="_blank">
            <mat-card-header>
            <mat-card-title class="card-title">Pointwest Innovations Corporation <i class="lni lni-arrow-top-right"></i></mat-card-title>
            <mat-card-subtitle class="card-subtitle">Software Engineer</mat-card-subtitle>
            <mat-card-subtitle class="card-date">November 2021 - Present</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <ul class="bullet-container">
                <li class="bullet-content">Attended a full-stack software engineer bootcamp, focusing on .NET, React, and Angular.</li>
                <li class="bullet-content">Attended a full-stack software engineer bootcamp, focusing on Node.js, AWS, and React Native.</li>
                <li class="bullet-content">Attended DevOps Training.</li>
            </ul>
            <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="card-footer-container">
            <ul class="tech-stack-container">
                <li class="tech-stack">.NET</li>
                <li class="tech-stack">React</li>
                <li class="tech-stack">Angular</li>
                <li class="tech-stack">Node.js</li>
                <li class="tech-stack">AWS</li>
            </ul>
            </mat-card-footer>
            </a>
        </mat-card>
        <div class="resume-container">
            <a href="../../assets/jncontrerasdev.pdf" target="_blank"><p class="resume-body">View my full résumé here <i class="lni lni-arrow-top-right"></i></p></a>
        </div>
    </section>
    <section id="contact">
    <div class="content-contact">
        <p class="content-title">Contact</p>
        <p class="contact-body">E-mail Address: jncontreras.dev@gmail.com</p>
        <p class="contact-body">Mobile Number: +63 917 503 6300</p>
    </div>
    </section>
</div>
